{% extends 'html/base.html' %}
{% load static %}

{% block body %}
    <div class="slider sliderv2">
        <div class="container">
            <div class="row">
                <div class="slider-single-item">
                    <div class="movie-item">
                        <div class="row">
                            <div class="col-md-8 col-sm-12 col-xs-12">
                                <div class="title-in">
                                    <div class="cate">
                                        <br><br>
                                        <span class="blue"><a href="#">Sci-Fi</a></span>
                                        <span class="yell"><a href="#">Action</a></span>
                                        <span class="orange"><a href="#">Adventure</a></span>
                                    </div>
                                    <h1><a href="#">{{trending_show.0.Title}}<br><br><span></span></a></h1>
                                    <div class="mv-details">
                                        <p><i class="ion-android-star"></i><span>{{trending_show.0.Avg_rating}}</span> /10</p>
                                        <ul class="mv-infor">
                                            <li> Run Time: {{trending_show.0.Duration|date:"i:s"}}</li>
                                            <li>{{trending_show.0.ReleaseDate}}</li>
                                        </ul>
                                    </div>
                                    <div class="btn-transform transform-vertical">
                                        <div><a href="{% url 'Movie:single_movie' trending_show.0.id %}" class="item item-1 redbtn">more detail</a></div>
                                        <div><a href="{% url 'Movie:single_movie' trending_show.0.id %}" class="item item-2 redbtn hvrbtn">more detail</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="mv-img-2">
                                    <br>
                                    <br>
                                    <a href="#"><img src="/Media/{{trending_show.0.Image}}" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="movie-items  full-width">
        <div class="row">
            <div class="col-md-12">
                <div class="title-hd">
                    <h2>Popular Movies</h2>
                    <a href="#" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
                </div>
                <div class="tabs">
                    <ul class="tab-links">
                        <li class="active"><a href="#tab1-h2">#In theater</a></li>
                        <li><a href="#tab2-h2"> #Top rated </a></li>
                        <li><a href="#tab3-h2"> #Most reviewed</a></li>
                    </ul>
                    <br>
                    <div class="tab-content">
                        <div id="tab1-h2" class="tab active">
                            <div class="row">
                                <div class="slick-multiItem2">
                                    {% for mov in theater_movies %}
                                        <div class="slide-it">
                                            <div class="movie-item">
                                                <div class="mv-img">
                                                    <img src="/Media/{{ mov.5 }}" alt="">
{#                                                    style="width:150px;height:200px"#}
                                                </div>
                                                <div class="hvr-inner">
                                                    <a href="{% url 'Movie:single_movie' mov.0 %}"> Read more <i
                                                            class="ion-android-arrow-dropright"></i> </a>
                                                </div>
                                                <div class="title-in">
                                                    <h6><a href="{% url 'Movie:single_movie' mov.0 %}">{{ mov.1 }}</a>
                                                    </h6>
                                                    <p><i class="ion-android-star"></i><span>{{ mov.10 }}</span> /10</p>
                                                </div>
                                            </div>

                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div id="tab2-h2" class="tab">
                            <div class="row">
                                <div class="slick-multiItem2">
                                    {% for mov in top_rated %}
                                        <div class="slide-it">
                                            <div class="movie-item">
                                                <div class="mv-img">
                                                    <img src="/Media/{{ mov.5 }}" alt=""
                                                         >
                                                </div>
                                                <div class="hvr-inner">
                                                    <a href="{% url 'Movie:single_movie' mov.0 %}"> Read more <i
                                                            class="ion-android-arrow-dropright"></i> </a>
                                                </div>
                                                <div class="title-in">
                                                    <h6><a href="#">{{ mov.1 }}</a></h6>
                                                    <p><i class="ion-android-star"></i><span>{{ mov.10 }}</span> /10</p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div id="tab3-h2" class="tab">
                            <div class="row">
                                <div class="slick-multiItem2">
                                    {% for mov in most_reviewed %}
                                        <div class="slide-it">
                                            <div class="movie-item">
                                                <div class="mv-img">
                                                    <img src="/Media/{{ mov.5 }}" alt=""
                                                         >
                                                </div>
                                                <div class="hvr-inner">
                                                    <a href="{% url 'Movie:single_movie' mov.0 %}"> Read more <i
                                                            class="ion-android-arrow-dropright"></i> </a>
                                                </div>
                                                <div class="title-in">
                                                    <h6><a href="#">{{ mov.1 }}</a></h6>
                                                    <p><i class="ion-android-star"></i><span>{{ mov.10 }}</span> /10</p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="title-hd">
                    <h2>Popular tv Series</h2>
                    <a href="#" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
                </div>
                <div class="tabs">
                    <ul class="tab-links-2">
                        <li class="active"><a href="#tab21-h2">#Currently running</a></li>
                        <li><a href="#tab22-h2"> #Top rated </a></li>
                        <li><a href="#tab23-h2"> #Most reviewed</a></li>
                    </ul>
                    <br>
                    <div class="tab-content">
                        <div id="tab21-h2" class="tab active">
                            <div class="row">
                                <div class="slick-multiItem2">
                                    {% for tvs in rs %}
                                        <div class="slide-it">
                                            <div class="movie-item">
                                                <div class="mv-img">
                                                    <img src="/Media/{{ tvs.5 }}" alt="">
                                                </div>
                                                <div class="hvr-inner">
                                                    <a href="{% url 'Movie:single_movie' tvs.0 %}"> Read more <i
                                                            class="ion-android-arrow-dropright"></i> </a>
                                                </div>
                                                <div class="title-in">
                                                    <h6><a href="{% url 'Movie:single_movie' tvs.0 %}">{{ tvs.1 }}</a>
                                                    </h6>
                                                    <p><i class="ion-android-star"></i><span>{{ tvs.10 }}</span> /10</p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab22-h2" class="tab">
                        <div class="row">
                            <div class="slick-multiItem2">
                                {% for tvs in tv_top_rated %}
                                    <div class="slide-it">
                                        <div class="movie-item">
                                            <div class="mv-img">
                                                <img src="{% static 'images/uploads/mv-it4.jpg' %}" alt="">
                                            </div>
                                            <div class="hvr-inner">
                                                <a href="{% url 'Movie:single_movie' tvs.0 %}"> Read more <i
                                                        class="ion-android-arrow-dropright"></i> </a>
                                            </div>
                                            <div class="title-in">
                                                <h6><a href="{% url 'Movie:single_movie' tvs.0 %}">{{ tvs.1 }}</a>
                                                </h6>
                                                <p><i class="ion-android-star"></i><span>{{ tvs.9 }}</span> /10</p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div id="tab23-h2" class="tab">
                        <div class="row">
                            <div class="slick-multiItem2">
                                {% for tvs in tv_most_reviewed %}
                                    <div class="slide-it">
                                        <div class="movie-item">
                                            <div class="mv-img">
                                                <img src="{% static 'images/uploads/mv-it4.jpg' %}" alt="">
                                            </div>
                                            <div class="hvr-inner">
                                                <a href="{% url 'Movie:single_movie' tvs.0 %}"> Read more <i
                                                        class="ion-android-arrow-dropright"></i> </a>
                                            </div>
                                            <div class="title-in">
                                                <h6><a href="{% url 'Movie:single_movie' tvs.0 %}">{{ tvs.1 }}</a>
                                                </h6>
                                                <p><i class="ion-android-star"></i><span>{{ tvs.9 }}</span> /10</p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="trailers full-width">
        <div class="row ipad-width">

            <div class="title-hd">
                <h2>in theater</h2>
                <a href="#" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
            </div>
            <div class="videos">
                <div class="slider-for-2 video-ft">
                    {% for mov in theater_movies %}
                        <div>
                            <iframe class="item-video"
                                    data-src="{{ mov.12 }}" allowfullscreen></iframe>
                        </div>
                    {% endfor %}
                </div>
                <div class="slider-nav-2 thumb-ft">
                    {% for mov in theater_movies %}
                        <div class="item">
                            <div class="trailer-img">
                                <img src="/Media/{{ mov.5 }}" alt="photo by Barn Images"
                                     width="4096"
                                     height="2737">
                            </div>
                            <div class="trailer-infor">
                                <h4 class="desc">{{ mov.1 }}</h4>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>



    <!--end of latest new v1 section-->
{% endblock %}