{% extends 'html/base.html' %}
{% load static %}

{% block body %}

<div class="hero hero3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
    </div>
</div>
<!-- celebrity single section-->
<div class="page-single movie-single cebleb-single">
    <div class="container">
        <div class="row ipad-width">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="mv-ceb">
                    <img src="/Media/{{ celebs.0.4 }}" alt="">
                </div>
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="movie-single-ct">
                    <h1 class="bd-hd">{{ celebs.0.1 }}</h1>
                    <!--<p class="ceb-single">Actor | Producer</p>-->
                    <div class="movie-tabs">
                        <div class="tabs">
                            <ul class="tab-links tabs-mv">
                                <li class="active"><a href="#overviewceb">Overview</a></li>
                                <li><a href="#mediaceb"> Media</a></li>
                                <li><a href="#filmography">filmography</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="overviewceb" class="tab active">
                                    <div class="row">
                                        <div class="col-md-8 col-sm-12 col-xs-12">
                                            <p></p>
                                            <p>
                                                This will contain the bio
                                            </p>
                                        </div>
                                        <div class="col-md-4 col-xs-12 col-sm-12">
                                            <div class="sb-it">
                                                <h6>Fullname: </h6>
                                                <p><a href="#">{{ celebs.0.1 }}</a></p>
                                            </div>
                                            <div class="sb-it">
                                                <h6>Date of Birth: </h6>
                                                <p>{{ celebs.0.2 }}</p>
                                            </div>
                                            <div class="sb-it">
                                                <h6>Country: </h6>
                                                <p>{{ celebs.0.5 }}</p>
                                            </div>
                                            <div class="sb-it">
                                                <h6>Height:</h6>
                                                <p>{{ celebs.0.6 }} cms</p>
                                            </div>
                                            <div class="sb-it">
                                                <h6>Tags:</h6>
                                                <p class="tags">
                                                    {% for i in keywords %}
                                                        <span class="time">{{ i.0 }}<br></span>
                                                    {% endfor %}
                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div id="mediaceb" class="tab">
                                    <div class="row">
                                        <div class="title-hd-sm">
                                            <h4>Videos <span>(8)</span></h4>
                                        </div>
                                        <div class="mvsingle-item media-item">
                                            <div class="vd-item">
                                                <div class="vd-it">
                                                    <img class="vd-img" src="images/uploads/vd-item1.jpg" alt="">
                                                    <a class="fancybox-media hvr-grow"
                                                       href="https://www.youtube.com/embed/o-0hcF97wy0"><img
                                                            src="images/uploads/play-vd.png" alt=""></a>
                                                </div>
                                                <div class="vd-infor">
                                                    <h6><a href="#">Trailer: Watch New Scenes</a></h6>
                                                    <p class="time"> 1: 31</p>
                                                </div>
                                            </div>
                                            <div class="vd-item">
                                                <div class="vd-it">
                                                    <img class="vd-img" src="images/uploads/vd-item2.jpg" alt="">
                                                    <a class="fancybox-media hvr-grow"
                                                       href="https://www.youtube.com/embed/o-0hcF97wy0"><img
                                                            src="images/uploads/play-vd.png" alt=""></a>
                                                </div>
                                                <div class="vd-infor">
                                                    <h6><a href="#">Featurette: “Avengers Re-Assembled</a></h6>
                                                    <p class="time"> 1: 03</p>
                                                </div>
                                            </div>
                                            <div class="vd-item">
                                                <div class="vd-it">
                                                    <img class="vd-img" src="images/uploads/vd-item3.jpg" alt="">
                                                    <a class="fancybox-media hvr-grow"
                                                       href="https://www.youtube.com/embed/o-0hcF97wy0"><img
                                                            src="images/uploads/play-vd.png" alt=""></a>
                                                </div>
                                                <div class="vd-infor">
                                                    <h6><a href="#">Interview: Robert Downey Jr</a></h6>
                                                    <p class="time"> 3:27</p>
                                                </div>
                                            </div>
                                            <div class="vd-item">
                                                <div class="vd-it">
                                                    <img class="vd-img" src="images/uploads/vd-item4.jpg" alt="">
                                                    <a class="fancybox-media hvr-grow"
                                                       href="https://www.youtube.com/embed/o-0hcF97wy0"><img
                                                            src="images/uploads/play-vd.png" alt=""></a>
                                                </div>
                                                <div class="vd-infor">
                                                    <h6><a href="#">Interview: Scarlett Johansson</a></h6>
                                                    <p class="time"> 3:27</p>
                                                </div>
                                            </div>
                                            <div class="vd-item">
                                                <div class="vd-it">
                                                    <img class="vd-img" src="images/uploads/vd-item1.jpg" alt="">
                                                    <a class="fancybox-media hvr-grow"
                                                       href="https://www.youtube.com/embed/o-0hcF97wy0"><img
                                                            src="images/uploads/play-vd.png" alt=""></a>
                                                </div>
                                                <div class="vd-infor">
                                                    <h6><a href="#">Featurette: Meet Quicksilver & The Scarlet Witch</a>
                                                    </h6>
                                                    <p class="time"> 1: 31</p>
                                                </div>
                                            </div>
                                            <div class="vd-item">
                                                <div class="vd-it">
                                                    <img class="vd-img" src="images/uploads/vd-item2.jpg" alt="">
                                                    <a class="fancybox-media hvr-grow"
                                                       href="https://www.youtube.com/embed/o-0hcF97wy0"><img
                                                            src="images/uploads/play-vd.png" alt=""></a>
                                                </div>
                                                <div class="vd-infor">
                                                    <h6><a href="#">Interview: Director Joss Whedon</a></h6>
                                                    <p class="time"> 1: 03</p>
                                                </div>
                                            </div>
                                            <div class="vd-item">
                                                <div class="vd-it">
                                                    <img class="vd-img" src="images/uploads/vd-item3.jpg" alt="">
                                                    <a class="fancybox-media hvr-grow"
                                                       href="https://www.youtube.com/embed/o-0hcF97wy0"><img
                                                            src="images/uploads/play-vd.png" alt=""></a>
                                                </div>
                                                <div class="vd-infor">
                                                    <h6><a href="#">Interview: Mark Ruffalo</a></h6>
                                                    <p class="time"> 3:27</p>
                                                </div>
                                            </div>
                                            <div class="vd-item">
                                                <div class="vd-it">
                                                    <img class="vd-img" src="images/uploads/vd-item4.jpg" alt="">
                                                    <a class="fancybox-media hvr-grow"
                                                       href="https://www.youtube.com/embed/o-0hcF97wy0"><img
                                                            src="images/uploads/play-vd.png" alt=""></a>
                                                </div>
                                                <div class="vd-infor">
                                                    <h6><a href="#">Official Trailer #2</a></h6>
                                                    <p class="time"> 3:27</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="title-hd-sm">
                                            <h4>Photos <span> (21)</span></h4>
                                        </div>
                                        <div class="mvsingle-item">
                                            <a class="img-lightbox" data-fancybox-group="gallery"
                                               href="images/uploads/image11.jpg"><img src="images/uploads/image1.jpg"
                                                                                      alt=""></a>
                                        </div>
                                    </div>
                                </div>
                                <div id="filmography" class="tab">
                                    <div class="row">
                                        <div class="topbar-filter">
                                            <p>Found <span>14 movies</span> in total</p>
                                        </div>
                                        <!-- movie cast -->
                                        <div class="mvcast-item">
                                            <div class="cast-it">
                                                <div class="cast-left cebleb-film">
                                                    <img src="images/uploads/film1.jpg" alt="">
                                                    <div>
                                                        <a href="#">X-Men: Apocalypse </a>
                                                        <p class="time">Logan</p>
                                                    </div>

                                                </div>
                                                <p>... 2016</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}



