{% extends 'html/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/dropdown.css' %}">
<style>
        .starrr { display: inline-block; }
        .starrr i {
          font-size: 16px;
          padding: 0 1px;
          cursor: pointer;
          color: #ffd119;
        }
</style>
{% endblock %}

{% block body %}
    <div class="hero mv-single-hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- <h1> movie listing - list</h1>
                    <ul class="breadcumb">
                        <li class="active"><a href="#">Home</a></li>
                        <li> <span class="ion-ios-arrow-right"></span> movie listing</li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>
    <div class="page-single movie-single movie_single">
        <div class="container">
            <div class="row ipad-width2">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="movie-img sticky-sb">
                        <img src="{% static 'images/uploads/movie-single.jpg' %}" alt="">
                        <div class="movie-btn">
                            <div class="btn-transform transform-vertical red">
                                <div><a href="#" class="item item-1 redbtn"> <i class="ion-play"></i> Watch Trailer</a>
                                </div>
                                <div><a href="{{ data.movie.13 }}"
                                        class="item item-2 redbtn fancybox-media hvr-grow"><i class="ion-play"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>{{ data.movie }}
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="movie-single-ct main-content">
                        <h1 class="bd-hd">{{ data.movie.1 }}<span>2015</span></h1>
                        <div class="social-btn">
                            <a href="#" class="parent-btn"><i class="ion-heart"></i> Add to Favorite</a>
                            <div class="hover-bnt">
                                <a href="#" class="parent-btn"><i class="ion-android-share-alt"></i>share</a>
                                <div class="hvr-item">
                                    <a href="#" class="hvr-grow"><i class="ion-social-facebook"></i></a>
                                    <a href="#" class="hvr-grow"><i class="ion-social-twitter"></i></a>
                                    <a href="#" class="hvr-grow"><i class="ion-social-googleplus"></i></a>
                                    <a href="#" class="hvr-grow"><i class="ion-social-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="movie-rate">
                            <div class="rate">
                                <i class="ion-android-star"></i>
                                <p><span>8.1</span> /10<br>
                                    <span class="rv">56 Reviews</span>
                                </p>
                            </div>
                            <div class="rate-star">
                                <p>Rate This Star: </p>
                                <!--<i class="ion-ios-star"></i>-->
                                <!--<i class="ion-ios-star"></i>-->
                                <!--<i class="ion-ios-star"></i>-->
                                <!--<i class="ion-ios-star"></i>-->
                                <!--<i class="ion-ios-star"></i>-->
                                <!--<i class="ion-ios-star"></i>-->
                                <!--<i class="ion-ios-star"></i>-->
                                <!--<i class="ion-ios-star"></i>-->
                                <!--<i class="ion-ios-star-outline"></i>-->
                                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                                crossorigin="anonymous">
                                </script>
                                <script src="{% static 'js/jstars.min.js' %}"></script>
                                <div class="jstars"
                                     data-value="1.5"
                                     data-total-stars="10"
                                     data-color="yellow"
                                     data-empty-color="white"
                                     data-size="30px">
                                </div>
                                <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
                                <script src="{% static 'js/starrr.js' %}"></script>
                                <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
                                <div class="starrr"></div>
                            </div>
                        </div>
                        <div class="movie-tabs">
                            <div class="tabs">
                                <ul class="tab-links tabs-mv">
                                    <li class="active"><a href="#overview">Overview</a></li>
                                    <li><a href="#Reviews"> Reviews</a></li>
                                    <li><a href="#filmography"> Filmography </a></li>
                                    <li><a href="#photos"> Photos </a></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="overview" class="tab active">
                                        <div class="row">
                                            <div class="col-md-8 col-sm-12 col-xs-12">
                                                <p>
                                                    Bio
                                                </p>
                                                <p>
                                                    Full Name:<br>
                                                    DOB:<br>
                                                    Height:<br>
                                                    Country:<br>
                                                    Keywords:
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="Reviews" class="tab review">
                                        <div class="row">
                                            <div class="rv-hd">
                                                <div class="div">
                                                    <h3>Related Movies To</h3>
                                                    <h2>Skyfall: Quantum of Spectre</h2>
                                                </div>
                                                <a href="#" class="redbtn">Write Review</a>
                                            </div>
                                            <div class="topbar-filter">
                                                <p>Found <span>56 reviews</span> in total</p>
                                                <label>Filter by:</label>
                                                <div class="dropdown">
                                                    <button onclick="myFunction()" class="dropbtn">Dropdown</button>
                                                        <div id="myDropdown" class="dropdown-content">
                                                            <a href="liked">Liked</a>
                                                            <a href="latest">Latest</a>
                                                        </div>
                                                </div>
                                            </div>
                                            <div class="mv-user-review-item">
                                                <div class="user-infor">
                                                    <img src="images/uploads/userava1.jpg" alt="">
                                                    <div>
                                                        <h3>Best Marvel movie in my opinion</h3>
                                                        <div class="no-star">
                                                            <i class="ion-android-star"></i>
                                                            <i class="ion-android-star"></i>
                                                            <i class="ion-android-star"></i>
                                                            <i class="ion-android-star"></i>
                                                            <i class="ion-android-star"></i>
                                                            <i class="ion-android-star"></i>
                                                            <i class="ion-android-star"></i>
                                                            <i class="ion-android-star"></i>
                                                            <i class="ion-android-star"></i>
                                                            <i class="ion-android-star last"></i>
                                                        </div>
                                                        <p class="time">
                                                            17 December 2016 by <a href="#"> hawaiipierson</a>
                                                        </p>
                                                    </div>
                                                </div>
                                                <p>This is by far one of my favorite movies from the MCU. The
                                                    introduction of new Characters both good and bad also makes the
                                                    movie more exciting. giving the characters more of a back story can
                                                    also help audiences relate more to different characters better, and
                                                    it connects a bond between the audience and actors or characters.
                                                    Having seen the movie three times does not bother me here as it is
                                                    as thrilling and exciting every time I am watching it. In other
                                                    words, the movie is by far better than previous movies (and I do
                                                    love everything Marvel), the plotting is splendid (they really do
                                                    out do themselves in each film, there are no problems watching it
                                                    more than once.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="filmography" class="tab">
                                        <div class="row">
                                            <h3>Cast & Crew of</h3>
                                            <h2>Avengers: Age of Ultron</h2>
                                            <div class="mvcast-item">
                                                <div class="cast-it">
                                                    <div class="cast-left">
                                                        <a href="#">Joss Whedon</a>
                                                    </div>
                                                    <p>... Director</p>
                                                </div>
                                            </div>
                                            <div class="mvcast-item">
                                                <div class="cast-it">
                                                    <div class="cast-left">
                                                        <a href="#">Joss Whedon</a>
                                                    </div>
                                                    <p>... Director</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="photos" class="tab">
                                        <div class="row">
                                            <div class="title-hd-sm">
                                                <h4>Photos <span> (21)</span></h4>
                                            </div>
                                            <div class="mvsingle-item">
                                                <a class="img-lightbox" data-fancybox-group="gallery"
                                                   href="images/uploads/image11.jpg"><img
                                                        src="images/uploads/image1.jpg" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="{% static 'js/dropdown.js' %}"></script>
{% endblock %}