{% extends 'html/userdetailspage.html' %}
{% load static %}

{% block profile %}

    <div class="col-md-9 col-sm-12 col-xs-12">
        <div class="form-style-1 user-pro">
            <form action="#" class="password">
                <h4>Change password</h4>
                <div class="row">
                    <div class="col-md-6 form-it">
                        <label>Old Password</label>
                        <input type="text" placeholder="**********">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-it">
                        <label>New Password</label>
                        <input type="text" placeholder="***************">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-it">
                        <label>Confirm New Password</label>
                        <input type="text" placeholder="*************** ">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <input class="submit" type="submit" value="change">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}