{% extends 'html/base.html' %}
{% load static %}
{% block body %}

    {% block head %}
        <link rel="stylesheet" href="{% static 'css/dropdown.css' %}">
    {% endblock %}

    <div class="hero common-hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hero-ct">
                        <h1>celebrity listing - list</h1>
                        <ul class="breadcumb">
                            <li class="active"><a href="#">Home</a></li>
                            <li><span class="ion-ios-arrow-right"></span> celebrity listing</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- celebrity list section-->
    <div class="page-single">
        <div class="container">
            <div class="row ipad-width2">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="topbar-filter">
                        <p class="pad-change">Found <span>{{ count }}</span> in total</p>
                    </div>
                    <div class="row">
                        {% for i in celebs %}
                            <div class="col-md-6">
                                <div class="ceb-item-style-2">
                                    <img src="/Media/{{ i.4 }}" alt="" style="height:100px;">
                                    <div class="ceb-infor">
                                        <h2><a href="{% url 'Celebrities:single_celeb' i.0 %}">{{ i.1 }}</a></h2>
                                        <p>{{ i.3 }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="topbar-filter">
                        <div class="pagination2">
{#                            <span>Page 1 of 6:</span>#}
{#                            <a class="active" href="#">1</a>#}
{#                            <a href="#">2</a>#}
{#                            <a href="#">3</a>#}
{#                            <a href="#">4</a>#}
{#                            <a href="#">5</a>#}
{#                            <a href="#">6</a>#}
{#                            <a href="#"><i class="ion-arrow-right-b"></i></a>#}
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <script src="{% static 'js/dropdown.js' %}"></script>
{% endblock %}