{% extends 'html/base.html' %}
{% load static %}
{% block body %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/dropdown.css' %}">
{% endblock %}

<div class="hero common-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">
                    <h1>celebrity listing - list</h1>
                    <ul class="breadcumb">
                        <li class="active"><a href="#">Home</a></li>
                        <li><span class="ion-ios-arrow-right"></span> celebrity listing</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- celebrity list section-->
<div class="page-single">
    <div class="container">
        <div class="row ipad-width2">
            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="topbar-filter">
                    <p class="pad-change">Found <span>{{count}}</span> in total</p>
                    <label>Sort by:</label>
                    <div class="dropdown">
                        <button onclick="myFunction()" class="dropbtn">Dropdown</button>
                        <div id="myDropdown" class="dropdown-content">
                            <a href="top_rated">Top Rated</a>
                            <a href="trending">Trending</a>
                            <a href="top_grossers">Top Grossers</a>
                            <a href="all_alphabet">All (By Name)</a>
                            <a href="all_release_date">All (By Release Date)</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for i in celebs %}
                    <div class="col-md-12">
                        <div class="ceb-item-style-2">
                            <img src="" alt="">
                            <div class="ceb-infor">
                                <h2><a href="{% url 'Celebrities:single_celeb' i.0 %}">{{i.1}}</a></h2>
                                <span>
                                    {% ifequal i.6 'A' %}
                                        Actor, {{i.5}}
                                    {% endifequal%}
                                    {% ifequal i.6 'D' %}
                                        Director, {{i.5}}
                                    {% endifequal%}
                                    {% ifequal i.6 'P' %}
                                        Producer, {{i.5}}
                                    {% endifequal%}
                                    {% ifequal i.6 'W' %}
                                        Writer, {{i.5}}
                                    {% endifequal%}
                                </span>
                                <p>
                                    {{i.3}}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="topbar-filter">
                    <div class="pagination2">
                        <span>Page 1 of 6:</span>
                        <a class="active" href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                        <a href="#">6</a>
                        <a href="#"><i class="ion-arrow-right-b"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 col-sm-12">
                <div class="sidebar">
                    <div class="searh-form">
                        <h4 class="sb-title">Search celebrity</h4>
                        <form class="form-style-1 celebrity-form" action="#">
                            <div class="row">
                                <div class="col-md-12 form-it">
                                    <label>Celebrity name</label>
                                    <input type="text" placeholder="Enter keywords">
                                </div>
                                <div class="col-md-12 form-it">
                                    <label>Celebrity Letter</label>
                                    <select>
                                        <option value="range">A</option>
                                        <option value="saab">B</option>
                                    </select>
                                </div>
                                <div class="col-md-12 form-it">
                                    <label>Category</label>
                                    <select>
                                        <option value="range">Actress</option>
                                        <option value="saab">Director</option>
                                    </select>
                                </div>
                                <div class="col-md-12 form-it">
                                    <label>Year of birth</label>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <select>
                                                <option value="range">1970</option>
                                                <option value="number">Other</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <select>
                                                <option value="range">1990</option>
                                                <option value="number">others</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 ">
                                    <input class="submit" type="submit" value="submit">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/dropdown.js' %}"></script>
{% endblock %}