{% extends 'html/base.html' %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static 'css/dropdown.css' %}">
{% endblock %}


{% block body %}
    <div class="hero common-hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hero-ct">
                        <h1> movie listing - list</h1>
                        <ul class="breadcumb">
                            <li class="active"><a href="#">Home</a></li>
                            <li><span class="ion-ios-arrow-right"></span> movie listing</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-single movie_list">
        <div class="container">
            <div class="row ipad-width2">
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="topbar-filter">
                        <p>Found <span>{{ count }} </span> in total</p>
                        <label>Sort by:</label>
                        <!--<select>-->
                        <!--<option value="top_rated"><a href="">Top Rated</a></option>-->
                        <!--<option value="trending"><a href="https://www.google.com">Trending</a></option>-->
                        <!--<option value="top_grocers"><a href="">Top Grocers</a></option>-->
                        <!--<option value="all_alpha"><a href="">All (By Name)</a></option>-->
                        <!--<option value="all_release_date"><a href="">All (By Release date)</a></option>-->
                        <!--</select>-->
                        <div class="dropdown">
                            <button onclick="myFunction()" class="dropbtn">Dropdown</button>
                            <div id="myDropdown" class="dropdown-content">
                                <a href="{% url 'Movie:movielist' 'top_rated' '1' %}">Top Rated</a>
                                <a href="{% url 'Movie:movielist' 'trending' '1' %}">Trending</a>
                                <a href="{% url 'Movie:movielist' 'top_grossers' '1' %}">Top Grossers</a>
                                <a href="{% url 'Movie:movielist' 'all_alphabet' '1' %}">All (By Name)</a>
                                <a href="{% url 'Movie:movielist' 'all_release_date' '1' %}">All (By Release Date)</a>
                            </div>
                        </div>
                    </div>
                    {% for i in data %}
                        <div class="movie-item-style-2">
                            <img src="/Media/{{ i.movie.5 }}" alt="" style="width:150px;height:200px">
                            <div class="mv-item-infor">
                                <h6><a href="{% url 'Movie:single_movie' i.movie.0 %}">{{ i.movie.1 }}
                                    <span>({{ i.movie.2|date:'Y' }})</span></a></h6>
                                <p class="rate"><i
                                        class="ion-android-star"></i><span>{{ i.movie.10 }}/10</span>({{ i.movie.11 }}
                                    ratings)</p>
                                <p class="describe">{{ i.movie.4 }}</p>
                                <p class="run-time"> Run Time: {{ i.movie.3|date:"i:s" }}
                                    <span>Release: {{ i.movie.2|date }}</span></p>
                                {% for j in i.director %}
                                    <p>Director: <a href="#">{{ j.director.4 }}</a></p>
                                {% endfor %}
                                <p>Actors:
                                    {% for k in i.actors %}
                                        <a href="#">{{ k.5 }}</a>,
                                    {% endfor %}
                                </p>

                            </div>
                        </div>
                    {% empty %}
                        <div>Nothing to show!!</div>
                    {% endfor %}
                    <div class="topbar-filter">
                        <div class="pagination2">
                            <span>Page 1 of {{ count_page }}:</span>
                            {% for i in count_page_range %}
                                <a href="{% url 'Movie:movielist' filter i %}">{{ i }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="sidebar">
                        <div class="searh-form">
                            <h4 class="sb-title">Search for movie</h4>
                            <form class="form-style-1" action="#">
                                <div class="row">
                                    <div class="col-md-12 form-it">
                                        <label>Movie name</label>
                                        <input type="text" placeholder="Enter keywords">
                                    </div>
                                    <div class="col-md-12 form-it">
                                        <label>Genres</label>
                                        <div class="group-ip">
                                            <select
                                                    name="skills" multiple="" class="ui fluid dropdown">
                                                <option value="">Enter to filter genres</option>
                                                <option value="Action1">Action 1</option>
                                                <option value="Action2">Action 2</option>
                                                <option value="Action3">Action 3</option>
                                                <option value="Action4">Action 4</option>
                                                <option value="Action5">Action 5</option>
                                            </select>
                                        </div>

                                    </div>
                                    <div class="col-md-12 form-it">
                                        <label>Rating Range</label>

                                        <select>
                                            <option value="range">-- Select the rating range below --</option>
                                            <option value="saab">-- Select the rating range below --</option>
                                            <option value="saab">-- Select the rating range below --</option>
                                            <option value="saab">-- Select the rating range below --</option>
                                        </select>

                                    </div>
                                    <div class="col-md-12 form-it">
                                        <label>Release Year</label>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <select>
                                                    <option value="range">From</option>
                                                    <option value="number">10</option>
                                                    <option value="number">20</option>
                                                    <option value="number">30</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <select>
                                                    <option value="range">To</option>
                                                    <option value="number">20</option>
                                                    <option value="number">30</option>
                                                    <option value="number">40</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 ">
                                        <input class="submit" type="submit" value="submit">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/dropdown.js' %}"></script>
{% endblock %}