<!DOCTYPE html>
{% load static %}
<html lang="en" class="no-js">

<head>
    <title>PopCorn</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <link rel="profile" href="#">

    <!--Google Font-->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600'/>
    <!-- Mobile specific meta -->
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone-no">

    <!-- CSS files -->
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body style="background-image:url({% static 'images/uploads/user-hero-bg.jpg' %})">
<div style="padding:2% 0 2% 2%">
    <a href="{% url 'Movie:home' %}"><img class="logo" src="{% static 'images/logo1.png' %}" alt=""
                                          width="130"
                                          height="50"></a>
</div>
<div style="margin: 0 10% 0 50%;background-color: #06121E;border: 2px solid #DCF836;padding: 4%;">
    <h2 style="color:#DCF836;">Login</h2>
    <br>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="redbtn" type="submit">Login&nbsp;</button>
    </form>
    <div class="row">
        <p>Or via social</p>
        <div class="social-btn-2">
            <a class="btn-default" href="#" style="color:white;"><i class="ion-social-facebook"></i> Facebook</a>
            <a class="btn-default" href="#" style="color:white;"><i class="ion-social-twitter"></i> Twitter</a>
        </div>
    </div>
</div>
</body>
</html>
